<h1>
  My Tasks
</h1>
 <br>
 <% @tasks.each do |task| %>

<span class="glyphicon <%= task.completed ? "glyphicon-check" : "glyphicon-unchecked" %>" aria-hidden="true"></span>


 <%= link_to task.title, task_path(task) %>
 <%= link_to "Edit", edit_task_path(task) %>
 <%= link_to "Delete", delete_task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>

<br>
 <% end %>

 <%= link_to "Add a task", tasks_new_path %>

